[core]
	hooksPath = ~/.dotfiles/git/hooks
	excludesfile = ~/.gitignore

[gpg]
	format = ssh

[commit]
	gpgsign = true

[alias]
  au = update-index --assume-unchanged
  nau = update-index --no-assume-unchanged

  cane = commit --amend --no-edit

  hulk-smash = !git add -A && git cane && git push -f && :

  ignored = !git ls-files -v | grep "^[[:lower:]]"

  lg = !"git lg1"
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

  pf = push --force-with-lease

  unstage = reset HEAD --

